.navbar-global {
	background-color: #5AC9A8;
}

.navbar-inverse{
	border-color: transparent;
}

.navbar-inverse .navbar-toggle{
	border-color: #FFF;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #FFF;
	border-color: #000;
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
	background-color: #000 !important;
}

.icon-bar{
	background-color: #FFF !important;
}

.navbar-toggle{
	float: left;
	margin-left: 15px;
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user > li > a{
  color: white;
}

.navbar-primary {
  background-color: #EDEEF0;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.icon-right{
	font-size: 18px;
}

.navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 14px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, 
	.navbar-inverse .navbar-nav > .open > a:hover {
	background-color: #5AC9A8;
	font-weight: bold;
}	

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #CCC;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover{
    background-color: #5AC9A8;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #5AC9A8;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu{
	background: #FFF;
	margin: 5px;
	box-shadow: 1px 2px #CCC;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 15px;
  text-align: left;
  /*border-bottom:solid 1px #444;*/
}

.navbar-primary-menu li a:hover {
  background-color: #5AC9A8;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: #FFF;
}

.navbar-primary-menu li .active{
	background-color: #5AC9A8;
	text-decoration: none;
	color: #FFF;
}

.main-content {
  margin-top: 50px;
  margin-left: 200px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}

.img-avatar{
	width: 25px;
}

#cargando{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    background: #000000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    border:solid;
    text-align: center;
    vertical-align: middle;
    padding-top: 10%;
    display: none;
}

.principal{
	border: solid 1px #CCC;
	box-shadow: 1px 1px #CCC;
	padding: 10px;
}

.prev-noticia{
	width: 100%;
}

.marco-prev-noticia{
	position: relative;
}

.titulo-prev-noticia{
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #FFF;
	background: rgba(0,0,0,.4);
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.contenido-prev-noticia{
	background-color: #EDEEF0;
	padding: 10px;
}

.fila-nav-noticia{
	width:100%;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.fila-nav-noticia:hover{
	background-color: #5AC9A8;
}

.fila-nav-noticia:hover .titulo-nav-noticia{
	color: #FFF;
}

.fila-nav-noticia.active{
	background-color: #5AC9A8;
}

.fila-nav-noticia.active .titulo-nav-noticia{
	color: #FFF;
}

.titulo-nav-noticia{
	text-align: justify;
	font-size: 12px;
}

.galeria{
	border: solid 1px #CCC;
	box-shadow: 1px 1px #CCC;
	padding: 5px;
}

.galeria2{
	background-color: #d0d0d0;
}

.navegador{
	padding-top: 20px;
	padding-bottom: 20px;
}

.navegador .glyphicon{
	font-size: 20px;
}

.navegador-titulo{
	text-align: center;
	font-weight: bold;
}

.naveg-left{
	text-align: left;
	padding-left: 30px;
}

.naveg-right{
	text-align: right;
	padding-right:  30px;
}

.thumbs{
	margin-left: 0px;
	width: 100%;
}

.img-thumb{
	width: 100%;
}

.celda-thumb{
	padding-right: 0px;
}

.celda-thumb img{
	opacity: 0.4;
	cursor: pointer;
}

.celda-thumb img.active{
	opacity: 1;
}

.visor-imagen img{
	width: 100%;
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
	cursor: pointer;
}